<p>navbar works!</p>
<mat-toolbar>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span>My App</span>
  <!--Inicio de la pagina-->
  <button mat-button routerLink="/inicio">Inicio</button>
  <!--Productos-->
  <button mat-button [matMenuTriggerFor]="producto">Productos</button>
  <!--Productos - Menu despeglable que muestra las categorias de productos-->
  <mat-menu #producto="matMenu">
    <button mat-menu-item routerLink="/producto">General</button>
    <button mat-menu-item routerLink="/papeleria">Papeleria</button>
    <button mat-menu-item routerLink="/indumentaria">Indumentaria</button>
    <button mat-menu-item routerLink="/accesorios">Accesorios</button>

  </mat-menu>
  <span class="example-spacer"></span>

  <!-- inicio de sesion y el registro de un nuevo usuario-->
  <button mat-button [matMenuTriggerFor]="usuario"><mat-icon>person</mat-icon></button>
  <mat-menu #usuario="matMenu">
    <button mat-menu-item routerLink="/registro">Registrarse</button>
    <button mat-menu-item routerLink="/inicio-sesion">Iniciar Sesión</button>
  </mat-menu>

  <!--carrito-->
  <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    <mat-icon>favorite</mat-icon>
  </button>
 
</mat-toolbar>