<p>card works!</p>
<mat-card class="example-card" >
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Stranger Things</mat-card-title>
      <mat-card-subtitle>Serie Netflix</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="https://www.lanacion.com.ar/resizer/v2/stranger-things-regresa-con-una-ultima-3AN5UAE7FZDTXEJTTDQE5ANEGU.jpeg?auth=b235a6900ffa82b2e62148296db47be5634c6dbb1e90c8bb7a2f6c4c92ebf4d1&width=420&height=280&quality=70&smart=true" alt="st" width="10%">
    <mat-card-content>
      <p>
        imagen de temporada 4
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions>
  </mat-card>
  